@charset "UTF-8";
body {
  color: #333;
  font-family: 'Noto Serif JP', serif;
}

.wrapper_keyvisual {
  background-image: url('../images/header.jpg');
  background-repeat: no-repeat;
}

/* メニュー */
.global_navigation {
  margin-bottom: 20px;
}

.global_navigation ul {
  text-align: center;
}

.global_navigation li {
  margin-right: 60px;

  font-size: 18px;
  display: inline;
}

.global_navigation a:link {
  margin: 50px auto;
}

.global_navigation a:link,
.global_navigation a:visited {
  color: white;
}

.global_navigation a:hover {
  color: #444444;
}

/* メインページ  */
main {
  width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #0d0015;
  height: 320px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.intro_img {
  display: flex;
  justify-content: space-around;
  margin: 100px 17px;
}

.intro_img img {
  border-radius: 8px;
}

h2 {
  font-size: 32px;
  color: #336600;
  width: 500px;
  margin: 70px auto 50px;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #336600;
  letter-spacing: 0.4em;
}

.title {
  position: relative;
  padding-top: 65px;
  padding-bottom: 20px;
  font-size: 32px;
  text-align: center;
}

.title span {
  position: relative;
  z-index: 2;
}

.title::before {
  content: attr(data-en);
  position: absolute;
  top: 0;
  left: 50px;
  transform: translatex(-50%);
  color: rgba(229 192 70 / 0.3);
  font-size: 70px;
  font-style: italic;
  font-family: 'Monserrat', sans-serif;
  z-index: 1;
}

iframe {
  text-align: center;
  margin: 20px auto;
}

.map_container {
  margin: 10px auto 30px;
  text-align: center;
}

.map_container p {
  letter-spacing: 0.4em;
}
/*
.wrapper_concept {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.icon {
  text-align: center;
}
*/

/* SNS */
.sns_container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.sns_container li {
  margin: 10px 20px;
}

.sns_container i {
  color: white;
}

/* フッター */
.footer_wrapper {
  height: 100 px;
  padding: 20px;
  background-color: #0d0015;
}

.footer_container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.footer_container h3 {
  border-bottom: 1px solid white;
  text-align: center;
  color: white;
}

.footer_item ul {
  list-style-image: url(../images/triangle.png);
}

.footer_container li {
  margin-bottom: 10px;
}

.footer_item a:visited,
.footer_item a:link {
  color: white;
}

.footer_item a:hover {
  opacity: 0.5;
}

/*	コピーライト */
.copyright {
  text-align: center;
  color: white;
  margin-top: 10px;
}

.main_container {
  text-align: center;
  display: flex;
}

.main_img {
  width: 50%;
  margin: 0 auto;
}

.main_img img {
  border-radius: 8px;
}

.main_text {
  width: 50%;
  color: #666;
  font-size: 1.1rem;
  line-height: 2;
  margin: 100px 60px 40px 60px;
  text-align: justify;
  vertical-align: middle;
  letter-spacing: 0.4em;
}

.aboutus_text {
  width: 50%;
  color: #666;
  font-size: 1.1rem;
  line-height: 2;
  margin: 20px 20px;
  text-align: justify;
  align-items: center;
  letter-spacing: 0.1em;
}

.flex_reverse {
  flex-direction: row-reverse;
}

.coupon_container {
  text-align: center;
}

.coupon_container img {
  border-radius: 8px;
  margin: 15px;
  font-size: 0.9rem;
}

.qr {
  text-align: center;
  margin: 5px;
}

.top_button {
  width: 120px;
  height: 120px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  margin: 50px;
}
.top_button a {
  text-align: center;
  vertical-align: middle;
}

.top_button:hover {
  opacity: 0.5;
}

.top_button::before {
  top: -50px;
  left: -10px;
  display: block;
}
